/* LOGOS */
.logos .row {
    background-color: #f7f9fb;
    padding: 40px 20px;
    margin: 0;
    border-radius: 10px;
}

.logos img {
    width: 70%
}

@media(max-width: 414px) {
    .logos .col-sm-6 {
        padding: 15px 0;
    }
}